$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "../../../../node_modules/element-ui/packages/theme-chalk/src/index";
@import "./dialog.scss";
@import "./checkbox-button.scss";
@import "./button.scss";

$black: #333333;
$border-color: #333333;
$bg-color: #7f7f7f;

.el-checkbox-button.check-tag{
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 10px;
  .el-checkbox-button__inner{
    display: block;
    height: 34px;
    line-height: 32px;
    width: 100px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 0;
    color: $black;
    box-shadow: none;
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.349019607843137);
    }
  }
  &.is-checked:first-child .el-checkbox-button__inner, &.is-checked .el-checkbox-button__inner{
    //border-left-color: $border-color;
    background-color: $bg-color;
    border-color: $bg-color;
    color: white;
  }
}

