@import "common";

@mixin style(){
  @include block;
  padding: 0 10px;
  >ul{
    position: relative;
    height: 50%;
    padding: 20px 0;
    &:not(.single):first-child{
      border-bottom: 1px solid $color-border;
    }
    h6{
      margin-bottom: 14px;
      position: relative;
      left: 0;
      top: 0;
      padding: 0 10px;
      i{
        font-weight: 400;
        color: $color-gray;
        font-size: 12px;
        position: absolute;
        right: -10px;
        padding: 10px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
      }
    }
    li{
      width: 50%;
      border-left: 10px;
      border-right: 10px;
      border-color: transparent;
      padding: 0 10px;
      position: relative;
      height: 80px;
      display: inline-block;
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #F4FAFF;
        display: block;
        border-radius:8px;

      }
      &:nth-child(2n-1):before{
        background-color: #FCF9FC;
      }
      p,span{
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 12px;
        top: 20px;
        display: block;
        b{
          font-size: 16px;
          margin:0 4px;
          font-weight: 600;
        }
      }
      span{
        top: auto;
        bottom: 20px;
      }
    }
    &.bo li{
      width: 1/3*100%;
    }
  }
}