*{margin:0;padding:0;box-sizing: border-box;border:0;font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}

body{
    background-color: white;
    min-width: 1200px;
}
body>iframe{
    display: none;
}

ul,ol,li{list-style:none}

img{vertical-align:top;border:none}

input{
    -webkit-user-select: text;
}

a{
    color: inherit;
    text-decoration: none;
}

span,p,b,em,h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
}

/**{*/
/*    transition: all .5s;*/
/*}*/

/*.fa{*/
/*    pointer-events:none;*/
/*}*/
