//@import "zsy-base";

//.cancel-btn,.confirm-btn{
//  line-height: 34px;
//  border: 1px solid transparent;
//  padding: 0 20px;
//  border-radius: 4px;
//  display: inline-block;
//  margin-left: 10px;
//  font-size: 14px;
//  cursor: pointer;
//  text-align: center;
//}
//.cancel-btn{
//  border-color: $bg-color;
//  color: $color-black;
//}
//.confirm-btn{
//  border-color: $color-black;
//  background-color: $color-black;
//  color: white;
//}

.el-checkbox-button.check-tag{
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 10px;
  .el-checkbox-button__inner{
    display: block;
    height: 34px;
    line-height: 32px;
    width: 100px;
    text-align: center;
    border-left: 1px solid;
    //border: 1px solid $border-color;
    border-radius: 4px;
    padding: 0;
    color: $color-black;
    box-shadow: none;
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.349019607843137);
    }
  }
  &.is-checked:first-child .el-checkbox-button__inner, &.is-checked .el-checkbox-button__inner{
    //border-left-color: $border-color;
    //background-color: $bg-color;
    //border-color: $color-primary;
    color: white;
  }
}

.el-tabs--top.zsy{
  .el-tabs__header{
    .el-tabs__nav-wrap:after{
      display: none;
    }
  }
}