$black: #333333;
$border-color: #333333;
$bg-color: #7f7f7f;

.cancel-btn,.confirm-btn{
  line-height: 34px;
  border: 1px solid transparent;
  padding: 0 20px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.cancel-btn{
  border-color: $bg-color;
  color: $black;
}
.confirm-btn{
  border-color: $black;
  background-color: $black;
  color: white;
}